:root {
  --container-width: 960px;
  --container-padding: 1rem;
}

html {
    height: 100%;
	cursor: url('/assets/cursors/ufocursor.gif'), auto;
}

body {
    height: 100%;
    background-color: #333333;
	background-image: url('/assets/graphics/autumn-leaves.gif');
	background-repeat: no-repeat;
	background-position: top left;
    color: #CCCC99;
    max-width: 800px;
    margin: 0 auto;
    font-family:  monospace;
    font-size: 1.05rem;
}

.maincontent {
	margin-top: 40px;
	margin-bottom: 20px;
}

hr {
    margin-top: 5%;
}

img {
    max-width: 100%;
	height: auto;
}

p {
    hyphens: auto;
    line-height: 1.5rem;
    margin: 0.8rem 0;
}

ul li {
    margin: 0.5rem 0rem;
}

blockquote {
    border-left: 5px solid #CCCC99;
    padding: 5px 5px 5px 20px;
}

code {
    background-color: #CCCC99;
	padding: 0 2px;
	border-radius: 3px;
	font-size: 1.05rem;
	color: #333;
}

pre code {
    background: transparent;
}

time {
    line-height: 16px;
}

button {
    	background-color: #CCC;
	border-top: #fff;
	border-right: #999;
	border-left: #fff;
	border-bottom: #999;
	padding: 3px 5px;
}

button a, button a:hover {
	color: #333;
	text-decoration: none;
}

/* Titles */
h1.webite-title a {
	display: inline-block;
	background-color: #CCCC99;
	color: #333366;
	padding: 5px 10px;
	font-size: 1.05rem;
	text-decoration: none;
}

.postlist h1.title {
	font-size: 1.2rem;
}

h1.post-title {
    font-size: 2rem;
    margin-bottom: 5px;
}

/* Links */
a {
    color: #CCCC99;
    text-decoration: underline;
    cursor: url('/assets/cursors/pointer.gif'), auto;
}

a:visited {
    color: #CCCC99;
    cursor: url('/assets/cursors/pointer.gif'), auto;
}

a:hover {
    color: #CCCC99;
    cursor: url('/assets/cursors/pointer.gif'), auto;
}

header {
    margin-top: 0px;
    margin-bottom: 80px;
}

/* Navigation */
nav a {
	margin-right: 8px;
}

/* h-card */
.hcard {
	margin: 2rem 0rem 1rem;
}

/* Updates Section */
.updates {
	background-color: transparent;
	border: 1px solid;
	margin: 1rem 0rem;
	padding: 0rem 1rem 1.5rem 1rem;
	overflow: scroll;
	height: 250px;
}

.updates p date {
	text-decoration: underline;
}

/* Footer */
footer {
    height: 30px;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
}
