---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Uh Oh! Page Not Found",
  description: "Welcome to my personal website! I'm mdohr07, an aspiring IT specialist and versatile artist. Here I document my progress in web development and programming, share creative projects in painting, drawing and 3D modeling, and write about my passions like drawing, journaling and road cycling. The aesthetic of the site is inspired by retro games and the old web, take a look around!"
}
---

<Layout seo={seo}>
  <Container>
    <h1>404</h1>
    <p>Oops! There's nothing here...</p>
    <a href="/">Return Home</a>
  </Container>
</Layout>
