---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Abou mdohr07",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
}
---

<Layout seo={seo}>
  <Container>
    <h1>About me</h1>
    <p lang="en">I've put together a little profile for anyone who wants to find out a bit more about me. I find it very difficult to decide on my one favorite thing.
            There is also a section below with my skills.<br/><br/>
        
            But you can say that I like science fiction. I would also describe myself as a very creative person and my personality type is INFJ(A).
            </p>

    <ul lang="en">
        <li>Favorite color: All of them!</li>
<li>Favorite food: Many, e.g., Udon, Soba with Tempura, but also curries or pizza</li>
<li>Favorite movie: The "Alien" series</li>
<li>Favorite music: Mainly metal or electro / new retro wave, a bit of country</li>
<li>Favorite travel destinations: Japan! Otherwise Scotland and the Netherlands</li>
<li>Favorite game: Mass Effect, Elite Dangerous, FF7 (original)</li>
<li>Favorite quote: "Or is?" (Queen Oona)</li>
<li>Favorite artist: Karl Kopinski, Sparth</li>
<li>Favorite drawing/painting material: Fudepen, marker</li>
<li>Favorite programming language or web design tool: CSS</li>
<li>Dream project: A game in pixel graphics</li>
<li>Pets: Imaginary cat and house spiders</li>
<li>Favorite season: Spring</li>
<li>Type of my bike: Endurance</li>
<li>Favorite cyclist: Marlen Reusser</li>
<li>Favorite ride snack: Oat snack or pretzel stick</li>
    </ul>
  </Container>
</Layout>
