---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "mdohr",
  description: "Welcome to my personal website! I'm mdohr07, an aspiring IT specialist and versatile artist. Here I document my progress in web development and programming, share creative projects in painting, drawing and 3D modeling, and write about my passions like drawing, journaling and road cycling. The aesthetic of the site is inspired by retro games and the old web, take a look around!"
  }
  
const updates = await Astro.glob("../content/updates/*md");
---

<Layout
  seo={seo}
>
  <Container>

<p lang="en">
    Hello, welcome to my website <img src="/assets/icons/waving.png" alt="pixel graphic of a waving little alien" /><br>
    I'm Miriam, an IT specialist in training from Germany who studied Graphic Design and used to be a freelance artist.<br/>
    I love filling sketchbooks and journals. But I also like building websites. I started doing this in 1999 and I still like to be inspired by retro games and the "old web".
    </p>

    <p>On this website I would like to document my progress and thoughts, but also showcase my projects. In my Blog I am going to write about IT training, anything I feel like writing about and of course 
    things that I am passionate about like drawing, painting and riding my road bike.</p>

    <p>PS: I have a <a href="https://users2.smartgb.com/g/g.php?a=s&i=g26-39641-50" target="_blank" rel="noopener noreferrer">Guestbook</a>!</p>

<!-- h-card -->
    <div id="hcard-mdohr07" class="hcard">

<!--
            <img
                class="u-photo"
                src="https://mdohr.space/mblip-full.png"
                alt="mdohr07"
                width="200"
            /> -->
 

            <p>
                URL: <a class="u-url u-uid" rel="me" href="https://mdohr.space"
                    >https://mdohr.space</a
                ><br />
                Email: <a class="email" href="mailto:mdohr07@gmail.com"
                    >mdohr07(at)gmail.com</a
                >
            </p>

            <p>
                <img
                    src="/assets/icons/mastodon.png"
                    alt="mastodon pixel icon"
                    class="icons"
                />
                <a
                    href="https://indieweb.social/@mdohr07"
                    target="_blank"
                    rel="me"
                    class="u-url">Mastodon</a
                ><br />
                <img
                    src="/assets/icons/github.png"
                    alt="github pixel icon"
                    class="icons"
                />
                <a
                    href="https://github.com/mdohr07"
                    target="_blank"
                    rel="me"
                    class="u-url">GitHub</a
                ><br />
                <img
                    src="/assets/icons/artstation.png"
                    alt="artstation pixel icon"
                    class="icons"
                />
                <a
                    href="https://www.artstation.com/mdohr07"
                    target="_blank"
                    rel="me"
                    class="u-url">Artstation</a
                ><br />
                <img
                    src="/assets/icons/sketchfab.png"
                    alt="sketchfab pixel icon"
                    class="icons"
                />
                <a
                    href="https://sketchfab.com/mdohr07"
                    target="_blank"
                    rel="me"
                    class="u-url">Sketchfab</a
                >
            </p>


            <link
                rel="authorization_endpoint"
                href="https://indieauth.com/auth"
            />
</div>
<div style="text-align: right;">
<a href="https://tamanotchi.world/14487c"><img src="https://tamanotchi.world/i/14487" alt="It's tamaNOTchi! Click to feed!"></a>
</div>

 <section class="updates" lang="en">
        {
            updates.map(({ Content }) => (
                <article>
                    <Content />
                </article>
            ))
        }
    </section>
<a href='https://www.counter12.com'>
    <img src='https://www.counter12.com/img-4d84wZcz2wbDB4c5-7.gif' alt='free web counter'></a>
    <script type='text/javascript' src='https://www.counter12.com/ad.js?id=4d84wZcz2wbDB4c5'></script>
  
  </Container>
</Layout>
