---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "mdohr",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
  }
---

<Layout
  seo={seo}
>
  <Container>

	<b>Under re-construction...</b><br>
	Because I let my website fall into the evil claws of Gtranslate(.io) I have to start over. 

    <p>
Meanwhile, feel free to reach out to me on
<a href="https://github.com/mdohr07" target="_blank">GitHub</a> or <a href="https://indieweb.social/@mdohr07" target="_blank">Mastodon</a>. 

<!--
<hr> 
<h2 class="mb-3 text-lg font-bold">Blog posts</h2> <ul class="grid list-none gap-2 p-0">
</p>

    <a href="/blog">Blog →</a> -->
  </Container>
</Layout>
