---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Links",
  description: "Websites I like so much that I linked them here"
}
---

<Layout seo={seo}>
  <Container>
    <h1>Links</h1>
    <p>On this page I collect some links to websites which existence I wouldn't want to forget so I think it's worth sharing them online :)</p>

    <p>If you wanna exchange banners, let me know! Here are mine:</p>

    <p><img src="/banners/banner_big.png" alt="mdohr's banner (big)"></p>
    <p><img src="/banners/banner_medium.png" alt="mdohr's banner (medium)"></p>
    <p><img src="/banners/banner_small.png" alt="mdohr's banner (small)"></p>

 <h2>Indie Web and more</h2>
    <ul>
        <li><a href="http://firsttimersonly.com" target="_blank">First Timers Only</a>
        </li>If you have never contributed to an open source project before and you’re just getting started, consider exploring these resources

        <li><a href="http://fedi.directory" target="_blank">fedi.directory</a> 
        </li>A human-curated small selection of interesting accounts to help you get started on the Fediverse

        <li><a href="https://neocities.org/" target="_blank" rel="noopener noreferrer">Neocities</a>
        </li>An essential for this list - they offer static web hosting with tools and a fun community.
    </ul>

    <ul>
        <li><a href="https://indieweb.org/" target="_blank" rel="noopener noreferrer">indieweb.org</a>
        </li>Has all the information you need about the indie web.

        <li><a href="https://search.marginalia.nu/" target="_blank" rel="noopener noreferrer">Marginalia</a>
        </li>An independent search engine that focuses on non-commercial content.

        <li><a href="https://wiby.org/" target="_blank" rel="noopener noreferrer">Wiby</a>
        </li>Another search engine: "The Wiby search engine is building a web of pages as it was in the earlier days of the internet".

        <li><a href="https://32bit.cafe/" target="_blank" rel="noopener noreferrer">32-bit cafe</a>
        </li>Community of website hobbyists who want to change how we live digitally and online.

        <li><a href="https://whimsica11y.net/" target="_blank" rel="noopener noreferrer">Whimsica11y</a>
        </li>Web accessibility guides and advice for personal website owners.

        <li><a href="https://slashpages.net/" target="_blank" rel="noopener noreferrer">Slash Pages</a>
        </li>A guide to common pages you can add to your website.
        </ul>

<h3>Personal websites</h3>

    <ul>
        <li><a href="http://maya.land" target="_blank">maya.land</a>
        </li>ye timeless content

        <li><a href="http://noodledesk.net" target="_blank">noodledesk.net</a>
        </li>welcome aboard the dreamer...

        <li><a href="http://maria.town" target="_blank">maria.town</a>
        </li>Site of Maria - a web developer by day and a witch by night

        <li><a href="http://randomgeekery.org/" target="_blank">Random Geekery/</a>
        </li>Brian's collection of his attempts to improve at tech, art, and life

        <li><a href="http://alienheadshitkid.neocities.org" target="_blank">alien head shit kid</a>
        </li>This site is just awesome (the 3D!)

        <li><a href="http://82mhz.net" target="_blank">82mhz.net</a>
        </li>Andreas’ website - the place where he writes about all the things that catch his interest

        <li><a href="http://brandons-journal.com" target="_blank">Brandon's Journal</a>
        </li>A Place of Contemplation and Study

        <li><a href="http://hanki.dev" target="_blank">hanki.dev</a>
        </li>Blog of Hannes from Finland who currently works as a mobile developer

        <li><a href="https://pickeraparter.com" target="_blank" rel="noopener noreferrer">Picker-Aparter</a>
        </li>Interesting personal website with a lovely retro horror theme.

        <li><a href="https://hubbardian.neocities.org/" target="_blank" rel="noopener noreferrer">Hubbarian</a>
        </li>One of the best looking websites I know

        <li><a href="https://dragonquest.neocities.org/" target="_blank" rel="noopener noreferrer">Dragon Quest: The ultimate game experience</a>
        </li>Fun! Go click :-)
    </ul>


<h2>Pixel Art</h2>
    <ul>
        <li><a href="https://2dwillneverdie.com/" target="_blank" rel="noopener noreferrer">2D will never die</a>
        </li>Website dedicated to pixel art, has tutorials too and has an amazing retro look.

        <li><a href="https://www.spriters-resource.com/" target="_blank" rel="noopener noreferrer">The Spriters Resource</a>
        </li>A site dedicated to the collection, archival, and appreciation of materials from video games and the best thing (according to me) are the sprite sheets. 
    </ul>

<hr>

<p style="text-align: center;">
    <a href="https://xn--sr8hvo.ws/previous"><button>←</button></a>
    <a href="https://xn--sr8hvo.ws"><button>An IndieWeb Webring</button></a> 
    <a href="https://xn--sr8hvo.ws/next"><button>→</button></a>
    </p>
  </Container>
</Layout>
