---
---

<div class="container">
<a href="https://mdohr.space"><h1 class="webite-title">mdohr</h1></a>
<nav><a href="#">Link</a> <a href="#">Link</a> <a href="#">Link</a></nav>
<section class="maincontent">
  <slot />
  </section>
</div>

<style>
  .container {
    margin: 0 auto;
    max-width: var(--container-width, 960px);
    padding: 0 var(--container-padding, 1rem);
  }
</style>
