---
---
<div class="container">
<h1 class="webite-title"><a href="https://mdohr.space">mdohr</a></h1>
<nav>
<p>
<a href="#">Link</a> <a href="#">Link</a> <a href="#">Link</a>
</p>
</nav>

<section class="maincontent">
  <slot />
  </section>
</div>

<style>
  .container {
    margin: 0 auto;
    max-width: var(--container-width, 960px);
    padding: 0 var(--container-padding, 1rem);
  }
</style>
